<div class="topver"></div>

<div class="main">
  <div class="main-contents login">
   <div class="form__wrapper">
   
      <div class="form__top">
       登録情報　変更
      </div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render 'shared/error_messages', model: f.object %> 

            <div class="field">
              <%= f.label :email, "メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
                <%= f.label :image, "プロフィール画像" %><br/>
                <%= f.file_field :image %>
            </div>

            <div class="field">
                <%= f.label :name, "ユーザー名（10文字以内）" %>
                <%= f.text_field :name %>
            </div>

            <div class="field">
              <%= f.label :profile, "プロフィール"%><br />
              <%= f.text_area :profile, class: :form__text, id:"user_profile"%>
            </div>

            <div class="login__attention">
                <span>●</span>変更のために現在のパスワードをご入力ください
                <br />
                <span>●</span>パスワードを変更される場合は新しいパスワードをご入力ください
                <br />
            </div>

            <div class="field">
              <div class="field__flex">
                <%= f.label :password, "パスワード（英数字6文字以上）" %>
                <div class="need">必須</div><br />
               </div>
                <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <div class="field__flex">
                <%= f.label :password_confirmation, "パスワード再入力" %>
                <div class="need">必須</div><br />
              </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>




            <div class="field">
              <%= f.submit "変更する", class: :form__btn %>
            </div>
          <% end %>

       <div class="login__attention">
       <span>！</span>アカウントを削除する場合はこちらから
      </div>

      <div class="field">
          <%= button_to "退会する", registration_path(resource_name), data: { confirm: "データが消えてしまいますが、本当によろしいですか？" }, method: :delete, class: :delete__btn %>
      </div>


   </div>
  </div>
</div>

