<div class="topver"></div>

<div class="boxs">
  <div class="boxs__inner">

      <div class="box1">
          <div class="box1__img">
               <%= image_tag "site/box1.png", class:"box1__img" %>
          </div>
          <div class="box1__scroll">
              <a href="#to_box5" class="box1__scroll_btm">scroll</a><br>
              <a href="#to_box5" class="arrow_u"></a><br>
              <a href="#to_box5" class="arrow_u"></a>
          </div>
      </div>

      <div class="box5" id=to_box5>
                  <div class="box5__text">
                <span>Little Artistは</span>
                <br>
                <p>子どもの作品をシェア・管理できるアプリケーションです</p>
            </div>

            <div class="box5__img">
               <%= image_tag "site/box5.png", class:"box5__img" %>
            </div>
      </div>


      <div class="box2">
          <div class="box__top_img">
              <%= image_tag "site/box2.png", class:"box__top_img" %>
          </div>
          <div class="box2__flex">
              <div class="box2__task_img">
                    <%= image_tag "site/task1.png", class:"box2__task_img" %>
              </div>
              <div class="box2__task_img">
                    <%= image_tag "site/task2.png", class:"box2__task_img" %>
              </div>
          </div>
      </div>

      <div class="box3">
          <div class="box__top_img">
              <%= image_tag "site/box3.png", class:"box__top_img" %>
          </div>
          <div class="box3__flex__pc">

              <div class="box3__cans">
                  <div class="box3__flex">
                    <div class="box3__title_img">
                       <%= image_tag "site/can1.png", class:"box3__title_img" %>
                    </div>
                    <div class="box3__title_text">　いろんな制作遊びが見れる！</div>
                  </div>
                  <div class="box3__can"><span>「他のお家の子はどんな遊びをしてるのかな？」「もっと色んな指先遊びが知りたい！」</span>
                                          トップページでは他のユーザーが投稿した制作遊びを見ることができます。
                                          画像をクリックして、作品の詳細ページへ！<br>
                                          気になった作品にはコメントで思いを伝えてみましょう♪                                        
                  </div>
              </div>

              <div class="box3__cans2">
                  <div class="box3__flex">
                    <div class="box3__title_img">
                        <%= image_tag "site/can2.png", class:"box3__title_img" %>
                    </div>
                    <div class="box3__title_text">　制作をマイページで管理できる</div>
                  </div>
                  <div class="box3__can"><span>マイページでは、投稿したお子さんの作品を一覧で見ることができます。</span>
                                         
                                         便利な検索機能もついています。
                                         例えば 検索で「こいのぼり」と検索すると今年、去年、一昨年・・と成長の過程を一覧で見ることも可能です。<br>
                                         お家で保管するのが大変・・という方、成長の記録を写真という形で残してみませんか？
                  </div>
              </div>

          </div>
      </div>

      <% if @items.present? %>
      <div class="box4">
        <h1>作品展　開催中♪</h1>
        <p class="box4_p">気になる作品をCheck！</p>

        <div class="slider">
           <% @items.each do |items| %>
             <div><%= link_to image_tag( items.image , class: :slider__img ),  item_path(items.id)%></div>
           <% end %>
        </div>
      <% end %>

      <div class="box6">
            <div class="box__top_img">
                <%= image_tag "site/box6.png", class:"box__top_img" %>
            </div>
            <div class="box6__flex">
                <div class="box6__myimg"></div>
                <div class="box6__profiles">
                    <div class="box6__name">
                        Yamakami Saki
                    </div>
                    <div class="box6__profiles__name">Who？</div>
                    <div class="box6__profile">
                        <span>好きなこと：絵を描くこと、物作り、ミニマルライフ</span><br><br>
                        保育系の短大を卒業後、幼稚園教諭・保育士として６年間 保育の現場で働く。<br>
                        現場で仕事をする中で、物作りを通して誰かの「こうしたい」という思いを形にしたいと強く感じ、プログラミングを学び始める。主にRuby on Railsでアプリを作成中。
                    </div>
                </div>
          </div>
      </div>

      <div class="box7">
          <div class="box7__img">
                <%= image_tag "site/box1.png", class:"box7__img" %>
          </div>
          <div class="box7__btns">
                <%# ログインの有無で表示を変更 %>
                <% if user_signed_in? %>
                    <%= link_to "トップページへ戻る", root_path,class: :box7__btn1 %>
                    <%= link_to "作品を投稿してみる", new_item_path,class: :box7__btn2 %>
                <% else %>
                    <%= link_to "新規登録はこちら", new_user_registration_path,class: :box7__btn1 %>
                    <%= link_to "ログインはこちら", new_user_session_path,class: :box7__btn2 %>
                <% end %>
                <%# /ログインの有無で表示を変更 %>
          </div>
      </div>


 </div>
</div>
