  <div class="topver">
   <div class="topver-search"></div>
  </div>


<div class="main">
  <div class="main-contents">

      <div class="form__top profile">
       <p>プロフィール</p>
      </div>

     <div class="profile__main">
       <div class="profile__inner">

          <div class="profile__user__image">
             <div class="profile__user__img"></div>
               <%#= ↑消す　user.image , class: :profile__user__image %>
          </div>
          
          <div class="profiles__inner__user">
                <div class="profile__user__names">
                    <div class="profile__user__name">の〜んびり姉妹のまま</div>
                    <%#= ↑消す　user.name , class: :profile__user__name %>
                </div>

                <div class="profile__user__follows">
                  <p>フォロー</p><div class="profile__user__follow">３０</div>
                  <p>フォロワー</p><div class="profile__user__follow">５０００</div>
                </div>

                <div class="profile__user__profile">
                  <div class="profile__user__prof">
                  １歳の娘と３歳の娘がいます。<br>
                  ２人とも仲良しで、妹はお姉ちゃんの作るものをたくさん真似っこしています！<br>
                  姉妹間でいろんなことを教え合える関係性がとっても素敵だなぁ〜♡と感じる日々です。<br>
                  そんな２人が作った作品を載せています。
                  </div>
                  <%#= ↑消す　user.profile , class: :profile__user__prof %>
              </div>

          </div>

       </div>
     </div>


    <div class="item__wrapper">

      <%# このユーザーのidデータ.each do |items| %>

    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  


    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  
    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  
    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  
    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  
    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  
    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  
    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  
    <div class="item">
      <a href="#" class="item__img"></a>
      <%#= link_to "image_tag( items.image , class: :item__img )",  "リンク先詳細の_path(items.id)"%> 
      <div class="item__body">
        <%= link_to "items.user.name" , "user_path(items.user_id)", class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  




    <%# end %>
   </div>
  </div>
</div>