
<% breadcrumb :users %>
<div class="topver">
  <div class="topver-search">
     <%= search_form_for @q, url: search_items_path, class: :search__form__users do |f| %>
       <%= f.text_field :text_or_age_or_material_or_making_cont, placeholder: '検索したいワードを入力', class: :search__form %>
       <%= f.radio_button :user_id_eq, '' %><p class="search__radiobtn">全ての投稿から</p>
       <%= f.radio_button :user_id_eq, @search_user %><p class="search__radiobtn">このページから</p>
       <%= f.submit '検索', class: :search__submit %>
     <% end %>
  </div>
</div>

<div class="main">
  <div class="main-contents">

        <%# 以下パン屑リスト %>
        <div class="page__list">
          <%= breadcrumbs separator: " &rsaquo; " %>
        </div>
        <%# /パン屑リスト %>

      <div class="form__top profile">
       <p>プロフィール</p>
      </div>

     <div class="profile__main">
       <div class="profile__inner">

          <div class="profile__user__image">
                <% if @user.image?%>
                  <%= image_tag @user.image.url, class: :profile__user__img %>
                <% else %>
                  <%= image_tag "default.png", class: :profile__user__img  %>
                <% end %>
          </div>
          
          <div class="profiles__inner__user">
                <div class="profile__user__names">
                    <div class="profile__user__name">
                      <%= @user.name %>
                    </div>
                </div>

                <%# ログインしているページが本人か確認する %>
                <% if user_signed_in? && current_user.id == @user.id %>
                    <div class="profile__user__icons">
                        <%= link_to image_tag( "icon1",class: :user__icon  ),  users_path%>
                        <%= link_to image_tag( "icon3",class: :user__icon  ),  new_item_path%>
                        <%= link_to image_tag( "icon2",class: :user__icon  ),  favorites_user_path(@user)%>
                        <%= link_to image_tag( "icon4",class: :user__icon  ),  destroy_user_session_path, method: :delete%>
                        <%= link_to image_tag( "icon5",class: :user__icon  ),  edit_user_registration_path%>
                    </div>
                <% else %>
                    <div class="profile__user__follows"> 
                      <%# <p>フォロー</p><div class="profile__user__follow">３０</div>
                      <p>フォロワー</p><div class="profile__user__follow">５０００</div> %>
                      <%= link_to "お気に入りの作品 ▼", favorites_user_path(@user), class: :profile__favorite %> 
                    </div> 
                <% end %>
                <%# /ログインしているページが本人か確認する %>


                <div class="profile__user__profile">
                    <div class="profile__user__prof">
                       <%= simple_format(@user.profile) %>
                    </div>
                 </div>
          </div>

       </div>
     </div>

     <div class="topver">
  <div class="topver-search">
     <%= search_form_for @q, url: search_items_path, class: :search__form__users do |f| %>
       <%= f.text_field :text_or_age_or_material_or_making_cont, placeholder: '検索したいワードを入力', class: :search__form %>
       <%= f.radio_button :user_id_eq, '' %><p class="search__radiobtn">全ての投稿から</p>
       <%= f.radio_button :user_id_eq, @search_user %><p class="search__radiobtn">このページから</p>
       <%= f.submit '検索', class: :search__submit %>
     <% end %>
  </div>
</div>
<br>


     <div class="item__wrapper">
          <% @items.each do |items| %>
          <%# 部分テンプレートでフォームを表示する %>
          <%= render partial: "items/items", locals: { items: items } %>
          <% end %>
     </div>

  </div>
</div>
