
  <div class="topver">
   <div class="topver-search" id="topver-searchs">
          <%= search_form_for @q, url: search_items_path, html: {id: "topver-searchs"} do |f| %>
              <%= f.text_field :text_or_age_or_material_or_making_cont, placeholder: '検索したいワードを入力' %>
              <%= f.radio_button :user_id_eq, '' %>指定しない
              <%= f.radio_button :user_id_eq, @search_user %>このページから探す
              <%= f.submit '検索' %>
          <% end %>
  </div>
</div>


<br>
<br>
<br><br><br>

<div class="main">
  <div class="main-contents">

      <div class="form__top profile">
       <p>プロフィール</p>
      </div>

     <div class="profile__main">
       <div class="profile__inner">

          <div class="profile__user__image">
             <div class="profile__user__img">
               <%= @user.image%>
               </div>
          </div>
          
          <div class="profiles__inner__user">
                <div class="profile__user__names">
                    <div class="profile__user__name">
                      <%= @user.name %>
                    </div>
                </div>

                <div class="profile__user__follows">
                  <p>フォロー</p><div class="profile__user__follow">３０</div>
                  <p>フォロワー</p><div class="profile__user__follow">５０００</div>
                </div>

                <div class="profile__user__profile">
                  <div class="profile__user__prof">
                  <%= @user.profile %>
                  </div>
              </div>

          </div>

       </div>
     </div>


    <div class="item__wrapper">

      <% @items.each do |items| %>

    <div class="item">
      <%= link_to image_tag( items.image , class: :item__img ),  item_path(items.id)%> 
      <div class="item__body">
        <p class="item__favorite">♡</p>
      </div>
    </div>  


    <% end %>
   </div>
  </div>
</div>