<div class="topver"></div>

<%# ログインの有無で表示を変える %>
<% if user_signed_in? %>

   <div class="index_top__login">
      <div class="index__login__container">
         <div class="index__login__flex">
            <%= link_to image_tag( "toppage1",class: :index__login1  ),  users_path%>
            
            <div class="index__login__contents">
                   <div class="index__login__content">
                      <%= link_to image_tag( "toppage3",class: :index__login__box  ),  user_path(current_user)%>
                      <%= link_to image_tag( "toppage4",class: :index__login__box  ),  new_item_path%>
                      <%= link_to image_tag( "toppage5",class: :index__login__box  ),  favorites_user_path(current_user)%>
                   </div>
                   <div class="index__login__content">
                      <%= link_to image_tag( "toppage6",class: :index__login__box  ),  "#item__index"%>
                      <%= link_to image_tag( "toppage2",class: :index__login__box  ),  "#item__index"%>
                      <%= link_to image_tag( "toppage7",class: :index__login__box  ),  destroy_user_session_path, method: :delete%>
                   </div>                   
            </div>

         </div>
      </div>
   </div>

   </div>

<% else %>
   <div class="index_top__unlogin">
      <div class="index__left__img">
         <%= link_to image_tag( "site/box5.png",class: :index__left__img  ),  users_path%>
      </div>
      <div class="index_top_btn">
         <%= link_to image_tag( "toppage1",class: :index__btn1  ),  users_path%>
         <%= link_to image_tag( "toppage2",class: :index__btn2  ),  "#item__index"%>
      </div>
   </div>
<% end %>
<%# /ログインの有無で表示を変える %>

<div class="topver" id="item__index">
   <%= render partial: "searchver" %> 
</div>

<div class="main">
  <div class="main-contents index">
    <div class="item__wrapper">
       <% @items.each do |items| %>
          <%# 部分テンプレートでフォームを表示する %>
          <%= render partial: "items", locals: { items: items } %>
       <% end %>
     </div>

     <div class="item__paginate">
          <%= paginate @items %>
     </div>     
  </div>
</div>

<% if @rund_items.present? %>
      <div class="slider_toppage">
        <p class="slider_toppage_p">気になる作品をクリック！</p>

        <div class="slider toppage">
           <% @rund_items.each do |items| %>
             <div><%= link_to image_tag( items.image , class: :slider__img_toppage ),  item_path(items.id)%>
             </div>
           <% end %>
        </div>
      </div>
<% end %>