<div class="topver">
   <div class="topver-search" id="topver-searchs">
          <%= search_form_for @q, url: search_items_path, html: {id: "topver-searchs"} do |f| %>
                <%= f.text_field :text_or_age_or_material_or_making_cont, placeholder: '検索したいワードを入力' %>
                <%= f.submit '検索' %>
          <% end %>
  </div>
</div>

<div class="main">
  <div class="main-contents index">

  <div class="item__wrapper">

  <% @search_item.each do |items| %>

    <div class="item">
      <%= link_to image_tag( items.image , class: :item__img ),  item_path(items.id)%> 
      <div class="item__body">
        <%= link_to items.user.name , user_path(items.user_id), class: :item__user %>
        <p class="item__favorite">♡</p>
      </div>
    </div>  

  <% end %>

  </div>
 </div>
</div>
