 <div class="topver"></div>

 <div class="main post">
  <div class="main-contents posts">
    <div class="post__wrapper">

      <div class="post__contents">
        <div class="post__image">
         <div class="itemimagebox">
         <%= image_tag @item.image %>
         </div>
       </div>
      
      <div class="post__top">
        <p class="post__favorite">♡</p>
        <%= link_to @item.user.name , user_path(@item.user_id), class: :post__user %>
      </div>
      <%= @item.created_at %>
      
      <div class="post__tag">
        <div class="center">
        <div class="test">
          <div class="show__text">
              <%= @item.age %>さい　
              <%#= @item.tag , class: :show__text %>
          </div>
         </div>
        </div>
      </div>


       <div class="post__text">
         <div class="show__text">
            <%= @item.text %>
         </div>
       </div>

              <div class="post__text">
         <div class="show__text">
            <%= @item.material %>
         </div>
       </div>

       <div class="post__text">
         <div class="show__text">
            <%= @item.making %>
         </div>
       </div>


      <%# 投稿者とログインしているユーザーが同じであれば以下を表示 %>
      <% if user_signed_in? && current_user.id == @item.user_id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_item_path(@item), class: :edit__btn %>
          <%= link_to "削除する", item_path(@item), method: :delete ,class: :destroy__btn %>
        </div>
      <% end %>
      <%# // 投稿者とログインしているユーザーが同じであれば表示 %>
      
    </div>
    
 
  <div class="comments">
    <div class="comments__contents">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
            <%= form_with model: [@item,@comment], local: true do |f|%>

             <%= render 'shared/error_messages', model: f.object %> 

            <div class="comment__field">
               <%= f.text_field :text, class: :post__comment, placeholder: 'コメントを入力する' %>
               <br>
               <%= f.submit "コメントする", class: :comment__btn  %>
            </div>
            <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        
        <div class="comment-header">
        画像を入れる
        </div>

        <ul class="comments_lists">

          <% @comments.each do |comment| %>
            <li class="comments_list">
              <div class="comment__profile">
                <div class="comment_img">
                  <% if comment.user.image?%>
                      <%= image_tag comment.user.image.url  , class: :comment_img %>
                  <% else %>
                      <%= image_tag "/assets/default.png", class: :comment_img %>
                  <% end %>

                <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
                </div>
              
                <div class="comment_text">
                <%= comment.text %>
                </div>
              </div>
               <% if user_signed_in? && current_user.id ==  @item.user_id || current_user.id == comment.user.id  %>
                <%= link_to "削除する", item_comment_path(comment.item.id, comment.id), method: :delete ,class: :destroy__btn %>
              <% end %>
            </li>

          <% end %>
        </ul>
      </div>
   </div>

  </div>
 </div>
</div>