<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LittleArtist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# 以下１行 anonymous %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%# 以下２行 スライダーjs %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>

  <body>

  <header class="header">
      <div class="inner">
        <div class="nav">

          <div class="nav__left">
             <%= link_to (image_tag "logo.png", class:"logo__pc") , root_path %>
             <%= link_to (image_tag "logo_responsive.png", class:"logo__mobile") , root_path %>
          </div>

          <%# ログイン時の表示 %>
          <% if user_signed_in? %>
           <div class="nav__right"> 
                <%= link_to  current_user.name, user_path(current_user), class: :header__user__name %>
                <% if current_user.image?%>
                   <%= link_to (image_tag current_user.image.url  , class: :header__user__img), user_path(current_user) %>
                <% else %>
                   <%= link_to (image_tag "default.png" , class: :header__user__img), user_path(current_user) %>
                <% end %>
                <p class="nav__frame" id="mypage__btn">
                   MENU
                </p>
           </div>
              
           <ul class="show-lists hidden" id="pull-down">
           
              <li class="pull-down-list">
                   <%= link_to "サイトについて", users_path ,class: :pulldown__text %>
               </li>
               <li class="pull-down-list">
                   <%= link_to "マイページ", user_path(current_user) ,class: :pulldown__text %>
               </li>
               <li class="pull-down-list">
                   <%= link_to "投稿する", new_item_path,class: :pulldown__text%>
               </li>
               <li class="pull-down-list">
                   <%= link_to "設定", edit_user_registration_path, class: :pulldown__text %>
               </li>
               <li class="pull-down-list">
                   <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: :pulldown__text %>
               </li>
           </ul>
           <%# /ログインの時 %>
        <% else %>
           <%# 未ログイン時の表示 %>
           <div class="nav__right">
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn2 %>
           </div>
          <% end %>
          <%# /未ログイン時の表示 %>

        </div>
      </div>
   </header>

   <% breadcrumb :root %>

   <%= yield %>

    <footer class="footer">
      <p class="copyright"> © Little Artist  2022 </p>
    </footer>

   <%# 以下１行 スライダーjs %>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
